{
  "presets": [
    [
      "@babel/preset-env", {
        "useBuiltIns": "entry"
      }],
    "@babel/preset-typescript"
    
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "parserOpts": {
    "plugins": [
      "dynamicImport"
    ]
  }
}